venv/*
.env
__pycache__
.vscode/*
.DS_Store
.ipynb_checkpoints
.idea
.python-version
*.ipynb

# Scratch files
scratch/*

# Boundary / weight-matrix caches
.cache/
.venv/

# Outputs from running in 'test' mode
test_outputs/*
*/tmp/*
*.db
*.db-journal

data/*


*.egg-info/
